{{!-- 類別 --}}
<div class="container sort-bar d-flex justify-content-center">
  <div class="form-group mb-0">
    <form action="" method="POST">
      <label for="sort" class="mb-0"></label>
      <select name="sort" id="sort" onchange="action=''; submit();">
        <option>類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </form>
  </div>
</div>

<div id="dataPanel">

</div>