body{
  font-family: 'Noto Sans TC', sans-serif;
  color: #5A5A5A;
}

.navbar{
  font-weight: bold;
  color: black;
}

.main-view{
  width: 400px;
}

.record{
  background-color: #F7F7F7;
}

.filter{
  max-width: 548px;
}

.filter-view{
  width: 200px;
}

#total-amount{
  color: #E89F7B;
  font-weight: bold;
  font-size: 80px;
}

.control-word{
  text-decoration: none;
  color: #5A5A5A;
  font-size: 24px;
}

.new-button{
  width: 400px;
}

.btn-primary{
  width: 250px;
  text-align: center;
}

.icon{
  width: 70px;
}

#categories{
  width: 234px;
}

.button_delete{
  background-color:white;
  border-color:white;
  border: 0;
}

@media (max-width: 1200px){
  .enter-word{
    width: 186px;
  }
  .required-word{
    width: 108px;
  }
}